<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="MySqlConnection"
			 connectionString="Server=localhost;Database=salario_calculo;Uid=rteste;Pwd=jr.falaschi1;"
			 providerName="MySqlConnector" />
	</connectionStrings>
	<system.web>
		<compilation debug="true" />
		<defaultDocument>
			<files>
				<add value="/Salarios.aspx" />
			</files>
		</defaultDocument>
	</system.web>
</configuration>
